<!DOCTYPE html>
<html>
<head>
    <% include blocks/links.ejs %>
    <title> <%= title %> </title>
</head>
<body>

<% include blocks/menu.ejs %>

<div id="main">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <i class="fas fa-dragon" style="font-size:35px;color:slategray;text-shadow:2px 2px 4px #000000;"></i>
    
    <div class="form-add">
        <h2><%= title %></h2>

        <form method="POST" action="/product/edit/<%= product._id %>">
            <div class="row">
                <div class="col">
                        <div class="form-group">
                            <label for="Model">Model:</label>
                            <input type="model" name="model" class="form-control" id="model" placeholder="model" value=<%= product.model %>>
                        </div>
                            <div class="form-group">
                            <label for="Processor">Processor:</label>
                            <input type="processor" name="processor" class="form-control" id="processor" placeholder="processor" value=<%= product.processor %>>
                        </div>
                        <div class="form-group">
                            <label for="Graficscard">Graficscard:</label>
                            <input type="graficscard" name="graficscard" class="form-control" id="graficscard" placeholder="graficscard" value=<%= product.graficscard %>>
                        </div>
                            <div class="form-group">
                            <label for="RAM">RAM:</label>
                            <input type="ram" name="ram" class="form-control" id="ram" placeholder="ram" value=<%= product.ram %>>
                        </div>
                        <div class="form-group">
                            <label for="SSD">SSD:</label>
                            <input type="ssd" name="ssd" class="form-control" id="ssd" placeholder="ssd" value=<%= product.ssd %>>
                        </div>
                            <div class="form-group">
                            <label for="Matrix">Matrix:</label>
                            <input type="matrix" name="matrix" class="form-control" id="matrix" placeholder="matrix" value=<%= product.matrix %>>
                        </div>
                        <button>Confirm</button>
                </div>

            </div>
        </form>
        
    </div>
  
    
</div>

<% include blocks/footer.ejs %>
  
  <script src="/scripts/menuScript.js"></script>
  <% include blocks/script_links.ejs %>
  </body>
  </html>