<!DOCTYPE html>
<html>
<head>
    <% include blocks/links.ejs %>
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <title> <%= title %> </title>
</head>
<body>

<% include blocks/menu.ejs %>

<div id="main">
    <% include blocks/register_menu.ejs %>
    <% include messaging_layout.ejs %>
    
    <h1>All products:</h1>
    
    <label class="ccontainer">List view
        <i class='fas fa-list-ul' style='font-size:20px'></i>
        <input type="checkbox" id="myCheck"  onclick="controll_view()">
        <span class="checkmark"></span>
    </label>
    <div id="listview" style="display:none">
        <ul class="list-group">
            <% products.forEach(function(product) { %>
                <% let cc = "black";%>
                <% let disc = "";%>
                <% if(product.discount != 0) {%>
                    <% cc = "red"; %>
                    <% disc = "discount!!!"; %>
                <% } %>
                <li class = "list-group-item" style="color: <%= cc %>;">
                    <a href="/products/<%= product._id %>"><%= product.model %></a> - <%= product.price - (product.discount * product.price/100) %>&#36;   <%= disc %>
                </li>
            <% }); %>
        </ul>
    </div>

    <div id="tableview" style="display:block">
        <div class="container">
            <div class="row">
                <% products.forEach(function(product) { %>
                    <div class="card col-sm-6 col-lg-4" style="margin-bottom: 20px">
                        <% let cc = "black";%>
                        <% let bc = "white";%>
                        <% if(product.discount != 0) {%>
                            <% cc = "red"; %>
                            <% bc = "powderblue"; %>
                        <% } %>
                        <div align="center">
                            <img src="/images/<%= product.model %>.jpg" alt="<%= product.model %>" style="width:240px; height: 150px;">
                        </div>
                        
                        <h2><a href="/products/<%= product._id %>"><%= product.model %></a></h2>
                        <h2 style="color: <%= cc %>; background-color:<%= bc %>;">Price: <%= product.price - (product.discount * product.price/100) %>&#36;</h2>
                        <p></p>
                        <p><a href="/products/<%= product._id %>" target="_parent"><button>Buy</button></a></p>
                    
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
    <div align="center" >
        <br>
        <a href="/index/<%- pageid - 1 %>" class="previous round">&#8249; Previous</a>
        ..<%= pageid %>..
        <a href="/index/<%- pageid - (-1) %>" class="next round">Next &#8250;</a>
        <br>
        <br>
    </div>
    <% include blocks/footer.ejs %>
</div>

<script src="/scripts/menuScript.js"></script>
<script src="/scripts/index_view.js"></script>
<% include blocks/script_links.ejs %>
</body>
</html>