<!DOCTYPE html>
<html>
<head>
    <% include blocks/links.ejs %>
    <title> <%= title %> </title>

</head>
<body>

<% include blocks/menu.ejs %>

<div id="main">
<% include blocks/register_menu.ejs %>
<% include messaging_layout.ejs %>
    <h1>All products:</h1>
    
    <label class="ccontainer">List view
    <i class='fas fa-list-ul' style='font-size:20px'></i>
        <input type="checkbox" id="myCheck"  onclick="controll_view()">
        <span class="checkmark"></span>
    </label>
    <div id="listview" style="display:none">
        <ul class="list-group">
            <% products.forEach(function(product) { %>
                <li class = "list-group-item"><a href="/products/<%= product._id %>"><%= product.model %></a> - <%= product.processor %></li>
            <% }); %>
        </ul>
    </div>

    <div id="tableview" style="display:block">
        <div class="container">
            <div class="row">
                <% products.forEach(function(product) { %>
                    <div class="card col-sm-6 col-lg-4" style="margin-bottom: 20px">
                        <img src="/images/xps-15.jpg" alt="comp" style="width:100%; height: auto;">
                        <h2><a href="/products/<%= product._id %>"><%= product.model %></a></h2>
                        <p></p>
                        <p><a href="/products/<%= product._id %>" target="_parent"><button>Buy</button></a></p>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>

    <% include blocks/footer.ejs %>
</div>

<script src="/scripts/menuScript.js"></script>
<script src="/scripts/index_view.js"></script>
<% include blocks/script_links.ejs %>
</body>
</html>