<!DOCTYPE html>
<html>
<head>

    <% include blocks/links.ejs %>
    <link rel="stylesheet" href="/css/product.css">
    <title> <%= title %> </title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>

<% include blocks/menu.ejs %>
<div id="main">
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
<i class="fas fa-dragon" style="font-size:35px;color:slategray;text-shadow:2px 2px 4px #000000;"></i>

<div class="container">
  <div style="text-align:center">
    <h2><%= product.model %></h2>
  </div>
  <div class="row" style="width: 90%">
    <div class="column">
      <img src="/images/dell_xps_15.jpg" style="width:100%">
    </div>
    <div class="column">
        <% if(!user); else {%>
            <% if(user.isAdmin) {%>
              <h2>ID: <%= product._id %></h2>
            <%}%>
        <%}%>
        <h2>Processor: <%= product.processor %></h2>
        <h2>Graficscard: <%= product.graficscard %></h2>
        <h2>RAM: <%= product.ram %></h2>
        <h2>SSD drive: <%= product.ssd %></h2>
        <h2>Matrix: <%= product.matrix %></h2>
        <h2>Price: <%= product.price - (product.discount * product.price/100) %>&#36;</h2>
        <% if(product.discount != 0) {%>
          <h2 style="color: red;">Discount: <%= product.discount %>&#37;</h2>
        <% } %>
        <p><button>Buy</button></p>
        <% if(user) {%>
          <% if(user.isAdmin == true) {%>
            <p><a href="/products/edit/<%= product._id %>" target="_parent"><button>Edit</button></a></p>
            <p><a href="/products/add_discount/<%= product._id %>" target="_parent"><button>Add discount</button></a></p>
            <a class = "delete-product" href="#" id="blabla" data-id=<%= product._id %> teemp="12s4f"><button class="delete">Delete</button></a>
          <%}%>
        <%}%>
    </div>
  </div>
</div>
<% include blocks/footer.ejs %>
</div>



<script src="/scripts/menuScript.js"></script>
<% include blocks/script_links.ejs %>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<!-- <script src="/scripts/delete.js"></script> -->
<script src="/scripts/delete.js"></script>
</body>
</html>
