<!DOCTYPE html>
<html>
<head>
    <% include blocks/links.ejs %>
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <title> <%= title %> </title>
</head>
<body>

<% include blocks/menu.ejs %>

<div id="main">
    <% include blocks/register_menu.ejs %>
    <% include messaging_layout.ejs %>
    <h2><%= username %>'s</h2>
    <h2>shopping cart:</h2>
    

<div class="container">
            <div class="row">
                <% products.forEach(function(product) { %>
                    <div class="card col-sm-6 col-lg-4" style="margin-bottom: 20px">
                        <div align="center">
                            <img src="/images/<%= product.productName %>.jpg" alt="<%= product.productName %>" style="width:240px; height: 150px;">
                        </div>
                        
                        <h2><a href="/products/<%= product.productId %>"><%= product.productName %></a></h2>
                        <h2>Price: <%= product.productPrice %>&#36;</h2>
                        <h4>Count: <%= product.count %></h4>
                    </div>
                <% }); %>
            </div>
        </div>
        <div class="form-add" style="height:500px">
    <p></p>
    <br>
        <h3>Payment</h3>
            <label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="font-size:40px;color:navy;"></i>
              <i class="fa fa-cc-amex" style="font-size:40px;color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="font-size:40px;color:red;"></i>
              <i class="fa fa-cc-discover" style="font-size:40px;color:orange;"></i>
            </div>
        
        <form>
            <div class="row">
                <div class="col">
                        <div class="form-group">
                            <label for="cname">Name on Card</label>
                            <input type="text" id="cname" name="cardname" placeholder="John More Doe">
                        </div>
                        <div class="form-group">
                            <label for="ccnum">Credit card number</label>
                            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                        </div>
                        <div class="form-group">
                            <label for="expmonth">Exp Month</label>
                            <input type="text" id="expmonth" name="expmonth" placeholder="September">
                        </div>
                        <div class="form-group">
                            <label for="expyear">Exp Year</label>
                            <input type="text" id="expyear" name="expyear" placeholder="2018">
                        </div>
                        <div class="form-group">
                            <label for="cvv">CVV</label>
                            <input type="text" id="cvv" name="cvv" placeholder="352">
                        </div>
                        <button>Sent</button>
                </div>
            </div>
        </form>
    </div>
<p></p><br>
<p></p><br>
<p></p><br>
    <% include blocks/footer.ejs %>
</div>
<script src="/scripts/menuScript.js"></script>
<script src="/scripts/index_view.js"></script>
<% include blocks/script_links.ejs %>
</body>
</html>